<html>
    <head></head>
    <body>
        <h1> EMPLEADOS Y SUS COMPRAS</h1>
        {% for empleado in empleados %}
        <div>
            <h2>Nombre Empleado: {{ empleado.nombre_emp }}</h2>
            <h2>Cargo: {{ empleado.cargo }}</h2>
            <h2>Salario: {{ empleado.salario }}</h2>
            {% for compra in empleado.compra_set.all %} {# Se establece _set porque en el modelo compra, en el campo empleado_compra, que es una relacion foreign key con empleado, no hay ningun related name, sino se pondria el related name #}
                <h2>Fecha Compra: {{ compra.fecha_compra }}</h2>
                {% for detcompra in compra.detallecompra_set.all %}
                    <h2>Cantidad: {{ detcompra.cantidad_prod_comprado }}</h2>
                    <h2>Precio Ud: {{ detcompra.precio_ud }}</h2>
                    {% for prod in detcompra.producto_set.all %}
                        <h2>Nombre Producto: {{ prod.nombre_prod }}</h2>
                        <h2>Descripcion: {{ prod.descripcion }}</h2>
                    {% endfor %}

                {% endfor%}
            {% endfor %}

        </div>
        {% endfor %}
    </body>
</html>