{% extends 'principal.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

{% block cabecera %}
    <div class ="cabecera">
        <h1>FARMACIAS | DATOS Y ORDENADOS POR FECHA DE CREACION</h1>
    </div>
{% endblock %}

{% block contenido %}
    {% block busqueda %}
    {% endblock %}
    <div class="descripcion_body">
        <div class="descripcion_body-texto">
            {% for farmacia in farmacias_mostrar %}
                <br>
                {% include 'farmacia/farmacia.html' %}
                <h2>Descripcion: {{ farmacia.datosfarmacia.descripcion }}</h2>
                <h2>Horario: {{ farmacia.datosfarmacia.horario }}</h2>
                <h2>Fecha Creacion: {{ farmacia.datosfarmacia.fecha_creacion|date:"m-d-Y" }}</h2>
            {% endfor %}
        </div>
    </div>
{% endblock %}