{% extends 'principal.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

{% block cabecera %}
    <div class ="cabecera">
        <h1>PRODUCTOS | PROVEEDORES Y FARMACIA</h1>
    </div>
{% endblock %}

{% block contenido %}
    {% block busqueda %}
    {% endblock %}
    <div class="descripcion_body">
        <div class="descripcion_body-texto">
            {% for producto in productos_mostrar %}
                {% include 'producto/producto.html' %}
                {% if producto.prov_sum_prod.all %}
                    {% for suministro in producto.prov_sum_prod.all %}
                        <h2>Proveedor: {{ suministro.proveedor.nombre_prov|truncatewords:1 }}</h2>
                        <h2>Dirección: {{ suministro.proveedor.direccion_prov|truncatewords:3}}</h2>
                    {% endfor %}
                {% else %}
                    <h2>No hay proveedores para este producto.</h2>
                {% endif %}
            {% endfor %}
        </div>
   
    </div>
{% endblock %}